In [1]:
!pip install geocoder

Requirement already satisfied: geocoder in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (1.38.1)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: click in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: future in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: ratelim in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ratelim->geocoder) (4.4.2)

In [2]:
# The code was removed by Watson Studio for sharing.

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [3]:
print(df_data_1.shape)
df_data_1.describe()

(103, 3)

       Postalcode     Borough Neighborhood
count         103         103          103
unique        103          10           99
top           M1R  North York    Downsview
freq            1          24            4

In [4]:
def get_lat_lng(postalcode):
    lat_lng_cod = None
    p = geocoder.arcgis('{}, Toronto, Ontario'.format(postalcode))
    lat_lng_cod = p.latlng
    return lat_lng_cod
get_lat_lng('M4G')

[43.709020000000066, -79.36348999999996]

In [5]:
postal_codes = df_data_1['Postalcode']

In [7]:
coord = []
for i in postal_codes.tolist():
    coord.append(get_lat_lng(i))
coord

[[43.811390000000074, -79.19661999999994],
 [43.78574000000003, -79.15874999999994],
 [43.765750000000025, -79.17469999999997],
 [43.76812000000007, -79.21760999999998],
 [43.76944000000003, -79.23891999999995],
 [43.74446000000006, -79.23116999999996],
 [43.725820000000056, -79.26460999999995],
 [43.71289000000007, -79.28505999999999],
 [43.72360000000003, -79.23495999999994],
 [43.695100000000025, -79.26465999999994],
 [43.75998000000004, -79.26939999999996],
 [43.75075000000004, -79.30053999999996],
 [43.794520000000034, -79.26707999999996],
 [43.784910000000025, -79.29721999999998],
 [43.817810000000065, -79.28043999999994],
 [43.80079000000006, -79.32161999999994],
 [43.83412000000004, -79.21667999999994],
 [43.80225000000007, -79.35557999999997],
 [43.780970000000025, -79.34780999999998],
 [43.781120000000044, -79.38059999999996],
 [43.756980000000055, -79.38059999999996],
 [43.79182000000003, -79.41371999999996],
 [43.76774000000006, -79.40727999999996],
 [43.747780000000034, -79.40032999999994],
 [43.77989000000008, -79.44677999999999],
 [43.75245000000007, -79.32990999999998],
 [43.74923000000007, -79.36185999999998],
 [43.72168000000005, -79.34351999999996],
 [43.75788000000006, -79.44846999999999],
 [43.76476000000008, -79.48797999999994],
 [43.73384000000004, -79.46827999999994],
 [43.720710000000054, -79.51700999999997],
 [43.73224000000005, -79.50177999999994],
 [43.75478000000004, -79.51958999999994],
 [43.73057000000006, -79.31305999999995],
 [43.70718000000005, -79.31191999999999],
 [43.68970000000007, -79.30681999999996],
 [43.67709000000008, -79.29546999999997],
 [43.709020000000066, -79.36348999999996],
 [43.70142000000004, -79.34904999999998],
 [43.68811000000005, -79.33417999999995],
 [43.68375000000003, -79.35511999999994],
 [43.667970000000025, -79.31466999999998],
 [43.66213000000005, -79.33496999999994],
 [43.72843000000006, -79.38712999999996],
 [43.71276000000006, -79.38850999999994],
 [43.71458000000007, -79.40667999999994],
 [43.703400000000045, -79.38658999999996],
 [43.690480000000036, -79.38317999999998],
 [43.68568000000005, -79.40236999999996],
 [43.68190000000004, -79.37828999999994],
 [43.667880000000025, -79.36648999999994],
 [43.66659000000004, -79.38132999999993],
 [43.65512000000007, -79.36263999999994],
 [43.65739000000008, -79.37803999999994],
 [43.65215000000006, -79.37586999999996],
 [43.64536000000004, -79.37305999999995],
 [43.65609000000006, -79.38492999999994],
 [43.64970000000005, -79.38257999999996],
 [43.64285000000007, -79.38075999999995],
 [43.64710000000008, -79.38152999999994],
 [43.64840000000004, -79.37913999999995],
 [43.73545000000007, -79.41915999999998],
 [43.71208000000007, -79.41847999999999],
 [43.69479000000007, -79.41439999999994],
 [43.674840000000074, -79.40451999999993],
 [43.663110000000074, -79.40179999999998],
 [43.65351000000004, -79.39721999999995],
 [43.640820000000076, -79.39817999999997],
 [43.648690000000045, -79.38543999999996],
 [43.64828000000006, -79.38145999999995],
 [43.72327000000007, -79.45041999999995],
 [43.70687000000004, -79.44811999999996],
 [43.69211000000007, -79.43035999999995],
 [43.68784000000005, -79.45045999999996],
 [43.668690000000026, -79.42070999999999],
 [43.665050000000065, -79.43890999999996],
 [43.64848000000006, -79.41773999999998],
 [43.639410000000055, -79.42675999999994],
 [43.71381000000008, -79.48873999999995],
 [43.695170000000076, -79.48396999999994],
 [43.67646000000008, -79.48271999999997],
 [43.659730000000025, -79.46280999999993],
 [43.64777000000004, -79.44988999999998],
 [43.649820000000034, -79.47547999999995],
 [43.66253000000006, -79.39187999999996],
 [43.648690000000045, -79.38543999999996],
 [43.648690000000045, -79.38543999999996],
 [43.60987000000006, -79.49808999999993],
 [43.601240000000075, -79.53878999999995],
 [43.65319000000005, -79.51112999999998],
 [43.632780000000025, -79.48944999999998],
 [43.62513000000007, -79.52680999999995],
 [43.662630000000036, -79.52830999999998],
 [43.65034000000003, -79.55361999999997],
 [43.64857000000006, -79.57824999999997],
 [43.75948000000005, -79.55706999999995],
 [43.733670000000075, -79.53768999999994],
 [43.705070000000035, -79.51803999999998],
 [43.696300000000065, -79.52925999999997],
 [43.68681000000004, -79.55727999999993],
 [43.744530000000054, -79.58623999999998],
 [43.71174000000008, -79.57940999999994]]

In [8]:
df_coord = pd.DataFrame(coord,columns=['Latitude','Longitude'])
df_data_1['Latitude'] = df_coord['Latitude']
df_data_1['Longitude'] = df_coord['Longitude']

In [9]:
df_data_1.head(15)

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.81139,-79.19662
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.78574,-79.15875
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.76575,-79.17470
3,M1G,Scarborough,Woburn,43.76812,-79.21761
4,M1H,Scarborough,Cedarbrae,43.76944,-79.23892
5,M1J,Scarborough,Scarborough Village,43.74446,-79.23117
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.72582,-79.26461
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.71289,-79.28506
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.72360,-79.23496
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.69510,-79.26466
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.75998,-79.26940
11,M1R,Scarborough,"Wexford, Maryvale",43.75075,-79.30054
12,M1S,Scarborough,Agincourt,43.79452,-79.26708
13,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan",43.78491,-79.29722
14,M1V,Scarborough,"Milliken, Agincourt North, Steeles East, L'Amo...",43.81781,-79.28044

In [10]:
# The code was removed by Watson Studio for sharing.

In [12]:
project.save_data(data=df_data_1.to_csv(index=False),file_name='toronto2.csv',overwrite=True)

{'file_name': 'toronto2.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'courseracapstone-donotdelete-pr-vx0upcyigxo63z',
 'asset_id': 'a075a16f-ff29-4601-a7be-864769725591'}